.name-class {
  color: blueviolet;
  text-decoration: underline;
}

.paragraph {
  color: grey;
}

.color-light {
  color: black;
}

.color-dark {
  color: white
}

.color-box {
  width: 25px;
  height: 25px;
  margin: 10px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
